.advantages
{
    margin-bottom: 80px;
}

.advantages h2
{
    margin-bottom: 20px;
}

.advantages ul
{
    list-style: none;
}

.advantages ul li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 200px;
}

.advantages ul li picture
{
    height: 50%;
}

.advantages ul li p
{
    height: 50px;
}

.advantages ul li picture img
{
    width: 50%;
}

@media screen and (max-width: 991px)
{
    .advantages ul.row
    {
        padding: 0 30px;
    }
}