.green-primary-btn
{
    width: 125px;
    height: 30px;

    background-color: #91DC77;
    border: none;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;

    color: black;
}

.green-primary-btn:hover
{
    background-color: #7EC864;
    box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
}

.red-primary-btn
{
    width: 125px;
    height: 30px;

    background-color: #DE6F6F;
    border: none;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;

    color: black;
}

.red-primary-btn:hover
{
    background-color: #7EC864;
    box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
}

.green-secondary-btn
{
    width: 125px;
    height: 30px;

    border: 2px solid #91DC77;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;

    background: none;
}

.green-secondary-btn:hover
{
    border: 1px solid #91DC77;
    box-shadow: 0px 0x 15px -7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.3);
}

.red-secondary-btn
{
    width: 125px;
    height: 30px;

    border: 2px solid #DE6F6F;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;

    background: none;
}

.red-secondary-btn:hover
{
    border: 1px solid #DE6F6F;
    box-shadow: 0px 0x 15px -7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.3);
}

.big-yellow-btn
{
    width: 100%;
    height: 50px;

    background-color: #FFD54F;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    color: black;

    padding-left: 20px;

    border: none;
    border-radius: 10px;

    box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.3);
}

.big-yellow-btn:hover
{
    box-shadow: none;
}

.big-yellow-btn:active
{
    background-color: #EFCD61;
}

a:hover > img
{
    box-shadow: 0px 0x 15px -7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.5);
}