input[type="text"], input[type="email"], input[type="password"]
{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    background: none;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 15px;
}

input[type="date"]
{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    background: none;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

input[type="number"]
{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    background: none;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 10px 15px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus,
input[type="date"]:focus, input[type="number"]:focus
{
    border-color: #6E6E6E;
}


input[type="text"].sphere-editing-input-field
{
    background: none;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}