.page
{
    min-height: 100vh;
}

.header
{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content
{
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright
{
    min-height: 10vh;
}