.index-header
{
    background-color: white;
}

.navbar-collapse
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.index-header ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.index-header ul li
{
    margin-right: 20px;
}

.index-header .btns
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.index-header .btns button:first-child
{
    margin-right: 20px;
}

.navbar-nav
{
    margin-right: 100px;
}

@media screen and (max-width: 991px)
{
    .navbar-collapse
    {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav
    {
        margin-right: 0;
    }

    .index-header ul
    {
        flex-direction: column;
        margin-bottom: 20px;
    }
}
  

